h1{
  text-align:center;
  color:silver;
}
p{
  text-align:center;
  color:silver;
  font-style: italic;
}
h2{
  text-align:center;
  color:silver
}
li{
  text-align:center;
  color:silver
}
body{
  background-color:black;
}